@model IEnumerable<App3.Models.BioMetricInfo>

@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="row justify-content-center mt-2">
    <div class="col-md-12">
        <div class="card rounded">
            <div class="card-header">
            <h3>List of Employee OT Requests</h3>
            </div>
            <div class="card-body">
                <form method="post" id="ApprovalForm">
                    <table id="biometricHistory" class="table table-bordered border-dark rounded table-responsive">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>UserID</th>
                                <th>Date</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>OT Hours Requested</th>
                                <th>Notes</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var emp in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="@emp.Id" name="Id" value="@emp.Id">
                                            </div>
                                        </td>
                                        <td>@emp.UserID</td>
                                        <td>@Convert.ToDateTime(@emp.Date).ToString("dd/MM/yyyy")</td>
                                        <td>@Convert.ToDateTime(@emp.TimeIn).ToString("HH:mm")</td>
                                        <td>@Convert.ToDateTime(@emp.TimeOut).ToString("HH:mm")</td>
                                        <td>@emp.OTHours.ToString() hr : @emp.OTMin.ToString() min</td>
                                        <td>@emp.Notes</td>
                                        <td>
                                            <a asp-action="RequestExtraTimeByAdmin" asp-controller="BioMetric" asp-route-id="@emp.Id"
                                               class="btn btn-primary btn-sm">Edit</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <a class="btn-sm btn-primary" onclick="submitUser()"> Approve </a>
                    <a class="btn-sm btn-primary" onclick="RejectRequest()"> Reject </a>
                   
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

    function submitUser() {
        var data = $("#ApprovalForm").serialize();
        console.log(data);
        alert(data);
        $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateEmpExtraTimeApproval")',
                //contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: data,
                success: function (result) {

                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            })
        }


      function submitUser() {
        var data = $("#ApprovalForm").serialize();
        console.log(data);
        alert(data);
        $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateEmpExtraTimeApprovalRejection")',
                //contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: data,
                success: function (result) {

                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            })
    }
    </script>
}
